---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio-operator
  namespace: minio-operator
spec:
  interval: 10m
  chart:
    spec:
      chart: operator
      version: '7.1.1'
      sourceRef:
        kind: HelmRepository
        name: minio-operator
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
