---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redpanda-operator
  namespace: iceberg-lab
spec:
  interval: 10m
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  chart:
    spec:
      chart: operator
      version: 'v2.4.4'
      sourceRef:
        kind: HelmRepository
        name: redpanda
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
